.app-header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
  box-sizing: border-box;
  height: 4rem;
  min-height: 64px;

  .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    a {
      font-size: 1rem;
      text-decoration: none;
      color: #ccc;
      font-weight: 500;
      transition: color 0.2s ease;
      will-change: color, font-size;
      transition: all .2s ease;
      border-bottom: 2px solid transparent;

      &.active {
        color: greenyellow;
        border-bottom: 2px solid greenyellow;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}